
$main-color: #F5F5F5;
$secondary-color: #a1a1a1;
$third-color: #646464;
$color-black: black;
$hover-color: #c4c4c4;
$hover-light-color: #e7e7e7;
$main-colorize-color: #4f00ff;

$main-margin: 1.5rem;
$main-padding: 1rem;
$medium-padding: 0.5rem;
$small-padding: 0.25rem;
$font-input-mono: 'input_mono_regular';
$font-input-mono-bold: 'input_mono_bold';


$scroll-space-height: 295px;
$home-scroll-space-height: 65vh;


$mobile-screen: 767px;