/* input mono */
@font-face {
    font-family: 'input_mono_regular';
    src: url('~@/assets/fonts/InputMono-Regular.ttf') format('truetype');
    // font-display: block;
}

@font-face {
    font-family: 'input_mono_medium';
    src: url('~@/assets/fonts/InputMono-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'input_mono_bold';
    src: url('~@/assets/fonts/InputMono-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'input_mono_thin';
    src: url('~@/assets/fonts/InputMono-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'input_mono_light';
    src: url('~@/assets/fonts/InputMono-Light.ttf') format('truetype');
}

/* input sans condense
@font-face {
    font-family: 'input_sans_condensed_regular';
    src: url('../fonts/InputSansCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'input_sans_condensed_light';
    src: url('../fonts/InputSansCondensed-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'input_sans_condensed_bold';
    src: url('../fonts/InputSansCondensed-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */



/* @font-face {
	font-family: "InputMono";
	src: url("../fonts/InputMono-Regular.ttf") format("truetype"),
} */